<!DOCTYPE html>
<html>
<head>
    <title>NutriGaze | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header class="navbar">
    <h2>NUTRIGAZE</h2>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('predict') }}">Predict</a>
    </nav>
</header>

<section class="hero">
    <h1>GreenGuard Insights</h1>
    <p>Detect freshness of fruits & vegetables using AI</p>
    <a href="{{ url_for('predict') }}" class="btn">Get Started</a>
</section>

</body>
</html>
